body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";
}

.header {
  grid-area: header;
  padding: 10px;
  background-color: rgb(16, 57, 240);
  color: white;
}
.sidebar {
  grid-area: sidebar;
  padding: 10px;
  background-color: rgb(6, 210, 247);
  color: white;
}
.content {
  grid-area: content;
}
